<% include partials/header %>

<h1>Camp Grounds page!!!</h1>

<a href="/campgrounds/new">Add new camp ground</a>

<% camps.forEach((camp)=>{ %>
	
	<div>
		<h4><%= camp.name %></h4>
		<img src="<%= camp.img %>">
	</div>

<% }); %>

<% include partials/footer %>