<% include partials/header %> 

<h1>Add New Camp Grounds page!!!</h1>

<form action="/campgrounds" method="post">
	<input type="text" name="name" placeholder="Name for camp ground">
	<input type="text" name="image" placeholder="Image URL">
	<button>Add new camp ground</button>
</form>

<a href="/campgrounds">Go Back</a>

 <% include partials/footer %> 
