.img-thumbnail{
	padding: 0;
}

#login-form{
	width: 60%; 
	margin: 25px auto;
}

#login-form-header{
	text-align: center
}

#register-form{
	width: 60%; 
	margin: 25px auto;
}

#register-form-header{
	text-align: center
}
